
services:
    mysql:
      image: mysql:8.0
      container_name: db_mysql
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: finance_db
      ports:
        - "3306:3306"
      volumes:
        - mysql_data:/var/lib/mysql

    app:
      build: .
      container_name: app
      ports:
        - "8080:8080"
      environment:
        SPRING_DATASOURCE_URL: jdbc:mysql://db_mysql:3306/finance_db
        SPRING_DATASOURCE_USERNAME: root
        SPRING_DATASOURCE_PASSWORD: root
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
        SPRING_JPA_SHOW_SQL: "true"
      depends_on:
       - mysql

volumes:
  mysql_data: